@import '../core/Variables.scss';

.calculatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 281px;
    background-color: $calculatorColor;
    padding: 50px 50px 50px 50px;
    border-radius: 10%;
    -webkit-box-shadow: 14px 27px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 27px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 14px 27px 13px 1px rgba(0,0,0,0.75);
    opacity: 0.7;


}