@import '../../styles/core/Variables.scss';

.screen {
    width: 92%;
    min-height: 80px;
    padding: 12px;
    margin: 6px;
    background-color: black;
    border: solid 1px gray;
    text-align: center;
    font-weight: bolder;
    border-radius: 5%;

    &__numbers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        color: orange;
       

    }

    &__num {
        text-align: center;
        border: none;
        outline: none;
        font-size: 19px;
        background-color: black;
        color: orange;
        font-family: $calculatorFont


    }
    &__result{
        background-color: black;
        color: orange;
        font-size: 28px;
        font-family: $calculatorFont;
        overflow-wrap: break-word;

    }
}


.hidden {
   display: none;}